In [10]:
import pandas as pd
import os

In [13]:
df = pd.read_csv('C:\\Users\\mdw2685\\Desktop\\Projects\\early_tests\\Inverts_Taxon.csv')

C:\Users\mdw2685\AppData\Local\Temp\ipykernel_23196\894049766.py:1: DtypeWarning: Columns (6,7,8,9,10,13,16,21,22) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('C:\\Users\\mdw2685\\Desktop\\Projects\\early_tests\\Inverts_Taxon.csv')

In [14]:
df.head()

,taxonID,datasetID,parentNameUsageID,acceptedNameUsageID,originalNameUsageID,scientificName,scientificNameAuthorship,canonicalName,genericName,specificEpithet,...,namePublishedIn,taxonomicStatus,nomenclaturalStatus,taxonRemarks,kingdom,phylum,class,order,family,genus
0,8987139,c8227bb4-4143-443f-8cb2-51f9576aff14,1.0,NaN,NaN,"Stipecrinus Villanueva-Olea & Sour-Tovar, 2014","Villanueva-Olea & Sour-Tovar, 2014",Stipecrinus,Stipecrinus,NaN,...,"Villanueva-Olea, Rafael & Francisco Sour-Tovar...",accepted,NaN,NaN,Animalia,NaN,NaN,NaN,NaN,Stipecrinus
1,1,d7dddbf4-2cf0-4f39-9b2a-bb099caae36c,NaN,NaN,NaN,Animalia,NaN,Animalia,Animalia,NaN,...,NaN,accepted,NaN,NaN,Animalia,NaN,NaN,NaN,NaN,NaN
2,7961678,80b4b440-eaca-4860-aadf-d0dfdd3e856e,1.0,NaN,NaN,Liotheidae,NaN,Liotheidae,Liotheidae,NaN,...,"<i>Handb. Entomol.</i>, <b>2</b>(2): 436",accepted,NaN,NaN,Animalia,NaN,NaN,NaN,Liotheidae,NaN
3,8137953,80b4b440-eaca-4860-aadf-d0dfdd3e856e,1.0,NaN,NaN,Turbinoidae,NaN,Turbinoidae,Turbinoidae,NaN,...,NaN,accepted,NaN,NaN,Animalia,NaN,NaN,NaN,Turbinoidae,NaN
4,7758685,80b4b440-eaca-4860-aadf-d0dfdd3e856e,1.0,NaN,NaN,Danaididae,NaN,Danaididae,Danaididae,NaN,...,"<i>Acta Soc. Sci. fenn.</i>, <b>22</b>: 301",accepted,NaN,NaN,Animalia,NaN,NaN,NaN,Danaididae,NaN

In [15]:
df.rename(columns={'taxonID': 'id', 
                   'acceptedNameUsageID': 'accid', 
                   'taxonomicStatus': 'taxonomic_status', 
                   'canonicalName': 'canonical', 
                   'scientificName': 'validName',
                   'scientificNameAuthorship': 'authorship',
                   'taxonRank': 'taxon_rank',
                   'infraspecificEpithet': 'infraspecies',
                   }, errors="raise")

,id,datasetID,parentNameUsageID,accid,originalNameUsageID,validName,authorship,canonical,genericName,specificEpithet,...,namePublishedIn,taxonomic_status,nomenclaturalStatus,taxonRemarks,kingdom,phylum,class,order,family,genus
0,8987139,c8227bb4-4143-443f-8cb2-51f9576aff14,1.0,NaN,NaN,"Stipecrinus Villanueva-Olea & Sour-Tovar, 2014","Villanueva-Olea & Sour-Tovar, 2014",Stipecrinus,Stipecrinus,NaN,...,"Villanueva-Olea, Rafael & Francisco Sour-Tovar...",accepted,NaN,NaN,Animalia,NaN,NaN,NaN,NaN,Stipecrinus
1,1,d7dddbf4-2cf0-4f39-9b2a-bb099caae36c,NaN,NaN,NaN,Animalia,NaN,Animalia,Animalia,NaN,...,NaN,accepted,NaN,NaN,Animalia,NaN,NaN,NaN,NaN,NaN
2,7961678,80b4b440-eaca-4860-aadf-d0dfdd3e856e,1.0,NaN,NaN,Liotheidae,NaN,Liotheidae,Liotheidae,NaN,...,"<i>Handb. Entomol.</i>, <b>2</b>(2): 436",accepted,NaN,NaN,Animalia,NaN,NaN,NaN,Liotheidae,NaN
3,8137953,80b4b440-eaca-4860-aadf-d0dfdd3e856e,1.0,NaN,NaN,Turbinoidae,NaN,Turbinoidae,Turbinoidae,NaN,...,NaN,accepted,NaN,NaN,Animalia,NaN,NaN,NaN,Turbinoidae,NaN
4,7758685,80b4b440-eaca-4860-aadf-d0dfdd3e856e,1.0,NaN,NaN,Danaididae,NaN,Danaididae,Danaididae,NaN,...,"<i>Acta Soc. Sci. fenn.</i>, <b>22</b>: 301",accepted,NaN,NaN,Animalia,NaN,NaN,NaN,Danaididae,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3978068,11346263,dbaa27eb-29e7-4cbb-8eab-3f689cfce116,1593713.0,1593734.0,1593735.0,"Lestodiplosis polypori (Winnertz, 1853)","(Winnertz, 1853)",Lestodiplosis polypori,Lestodiplosis,polypori,...,NaN,synonym,NaN,NaN,Animalia,Arthropoda,Insecta,Diptera,Cecidomyiidae,Lestodiplosis
3978069,1517849,7ddf754f-d193-4cc9-b351-99906754a03b,1517775.0,1517848.0,11325753.0,"Orimarga stenoptera (Seguy, 1936)","(Seguy, 1936)",Orimarga stenoptera,Orimarga,stenoptera,...,NaN,synonym,NaN,NaN,Animalia,Arthropoda,Insecta,Diptera,Limoniidae,Orimarga
3978070,5970807,7ddf754f-d193-4cc9-b351-99906754a03b,2226678.0,NaN,2226668.0,"Epialtoides kingsleyi (Rathbun, 1923)","(Rathbun, 1923)",Epialtoides kingsleyi,Epialtoides,kingsleyi,...,NaN,accepted,NaN,NaN,Animalia,Arthropoda,Malacostraca,Decapoda,Epialtidae,Epialtoides
3978071,2226679,7ddf754f-d193-4cc9-b351-99906754a03b,2226678.0,NaN,5970691.0,"Epialtoides hiltoni (Rathbun, 1923)","(Rathbun, 1923)",Epialtoides hiltoni,Epialtoides,hiltoni,...,NaN,accepted,NaN,NaN,Animalia,Arthropoda,Malacostraca,Decapoda,Epialtidae,Epialtoides
3978072,5970805,7ddf754f-d193-4cc9-b351-99906754a03b,2226678.0,NaN,5970806.0,"Epialtoides murphyi (Garth, 1948)","(Garth, 1948)",Epialtoides murphyi,Epialtoides,murphyi,...,NaN,accepted,NaN,NaN,Animalia,Arthropoda,Malacostraca,Decapoda,Epialtidae,Epialtoides

In [ ]:
df['valid'] = np.where(df['taxonomicStatus'] == 'accepted', True, False)
df['source'] = 'gbif'

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [18]:
print(df['taxonomicStatus'])

0          accepted
1          accepted
2          accepted
3          accepted
4          accepted
             ...
3978068     synonym
3978069     synonym
3978070    accepted
3978071    accepted
3978072    accepted
Name: taxonomicStatus, Length: 3978073, dtype: object